In [1]:
import pandas as pd

# 1. Reading Data

In [2]:
sales_2017=pd.read_csv("Sales Transactions-2017.csv")

In [3]:
sales_2017

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [4]:
sales_2017.head(5)

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN

In [5]:
sales_2017.tail(5)

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

# 2.Handle Missing Values

In [6]:
#Identify columns with missing values and replace with mean value
# if we find NAN values first we need to fill it with zero and then fill with static values (mean,median,mode)

In [7]:
sales_2017.shape

(47290, 9)

In [8]:
sales_2017.columns

Index(['Date', 'Voucher', 'Party', 'Product', 'Qty', 'Rate', 'Gross', 'Disc',
       'Voucher Amount'],
      dtype='object')

In [9]:
sales_2017.isna().sum()

Date               5388
Voucher            5375
Party                15
Product            5388
Qty                5375
Rate               5376
Gross              5376
Disc              44432
Voucher Amount    35942
dtype: int64

In [10]:
sales_2017.describe()

         Date Voucher  Party Product    Qty   Rate  Gross  Disc Voucher Amount
count   41902   41915  47275   41902  41915  41914  41914  2858          11348
unique    330    9993   1114     616    302    721   1547   201           4056
top                     TP13            100     26
freq     1345    1345   5663    1345   5860   2194   1345  1345           1345

In [11]:
sales_2017.fillna(0,inplace=True)

In [12]:
sales_2017

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0,0
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0,0
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0,0
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",0,"3,425.00"
47286,0,0,0,0,0,0,0,0,0
47287,0,0,0,0,0,0,0,0,0
47288,0,Total,0,0,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,0,Total,0,0,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [21]:
sales_2017["Product"].unique()

array(['DONA-VAI-9100', 'LITE FOAM(1200)', 'VISHNU CHOTA WINE',
       'CLASSIC ENJOY(750)', 'Vishnu 250ml', 'BLACK DOG-350ML', ' ',
       'Loose Items', 0, '90ML RANGEELA', 'SILVER POUCH 9*12',
       'SILVER POUCH 8*10', 'CLASSIC 250ML(100)', '14"7PLY PLATES',
       '10*10 TEJA', 'PAPER JUICE 190ML', 'APPLE WINE', 'APPLE 300ML',
       'FANCY IC', 'SMART BOUL LOOSE', 'TIRUMALA LEAF(9)',
       'SOFT NAPKEENS', '14 GREEN', '10*10 MORE', '500ML PLASTIC BOULS',
       'Classic 250ml', '100LEAF -SP', '12*18 STAR-CUT', 'NO-00',
       '5*6 ANKIT(20MIC)', 'PP +7*9', 'PP +(8*10)', 'N0-5', 'NO-0',
       'NO-2', 'NO-3', 'DURGA 10*12 Blue', 'LARGE BOWL-ESSFOAM',
       'SMARTBOUL-GLA(3500)', 'SILV-CONT-450ML(150',
       'SILV-CONT-750ML(100', 'HIGH COUNT 10*12', 'Durga 10*12 Bk',
       'DURGA 10*12 CL', 'SMART BOWL(3500)', 'MEDIUM BOUL CLA(540',
       'TIRUMALA-50(13*16)', 'CYCLE 10*12 BK KG', 'PRINT-10*12 CAR',
       'CYCLE 13*16 BK KG', 'ROBO 10*12', 'Vishnu 300ml', '4*5 MEET',
       'SILVER PLATE 6', 'PP 8*10', 'PP 6*8', 'PP 7*8', 'Pp 5*7',
       '6*9 100 Pcs', '7*10 100 Pcs', '8*11 100 Pcs', 'GARUDA 16*20 BLUE',
       'TIFFIN PLATES-11NO-', 'NO-1', 'HIGH COUNT 13*16',
       'HIGH COUNT 16*20', 'NAPKEEN 2ND', 'RASNA COVER',
       'STRECH FILM-600MTRS', 'TIFFIN PLATES NO-7', 'SILVER POUCH 7*9',
       'VAT AMOUNT', 'CHANDRA 75ML TEA', 'NO-10', '12green Buffet',
       '10*12 KRISHNA-BK(10', 'SILVER TONE 10*12 W', '13*16 WHITE RK',
       'CYCLE-BLU-10*12', 'PAPER TEA-65ML(100)', '4*5 TRISUL',
       '20 *26 BLUE', '22MRP THREADS', 'DHARAM 1/2KG SPECIA', '5*6 Poly',
       '5*7 ESWAR', 'PAPER TEA -AL', 'SUPER ROPE(SPECIAL)',
       'NIFTY 10*12 PINK', 'BULLET 10*12', 'ROBO 13*16 BLUE',
       'SMITH 4*5 POLY', 'APPLE WATER', 'TIFFIN PLATENO-10',
       'SNACKS PLATES', 'LEAF DONA BIG', 'PAPER TEA 80ML LONG',
       '24 * 30 BLUE', 'TIRUMALA M.W 10*12', 'TIRUMALA M.W 13*16',
       'TIRUMALA 16*20 M.W', 'SILV--450-LOOSE', 'CYCLE-BLU-13*16',
       'ROLLS', 'LARGE FANCY IC', 'SPOON-SMALL-NAT',
       'APPLE 300ML(COLOUR)', 'TIFFIN PLATES NO-8', 'NO-000',
       'DONA -LOOSE', 'CYCLE-BK-10*12', '13*16 BLACK RK', 'OKAY SPOONS',
       '250 ML PLASTIC BOUL', 'ROYAL NAPKEENS', 'PREMIER TISSUES',
       'LEAF DONA SMALL', '80 Leaf', '17*23 SANTOSH',
       '10" CLASSIFOAM-1200', 'SILVER PLATES-5', 'SILV-750ML-LOOSE',
       '16*20(100-W)', 'Vishnu 350ml', 'THEROCOL PLATES LOO',
       '30*50 LINER', 'PAPER TEA-65ML', 'Classic 300ml',
       'GARBAGE BAGS-LARGE', 'PP', '10*12 RK', 'Dharam-15pcs',
       'Kesaw M.w 16*20', '13*16 KESHAV M.W', 'KESAW M.W 10*12',
       '13*16 Bk Krishna', '1000ML CONTAINER', 'TIRUMALA-50(16*20)',
       '10*15 STAR-DCUT', '5*6 Janatha Poly', '4*6 Poly', 'SAGAR 80ML',
       'TIRML-BL-KG-16*20', 'Vishnu Ice', 'SILVER PLATE(1300)',
       'Pink Plates-7"', 'Big M.w Spoon', 'PREMIUM 13*16 BLUE',
       'TIRML-CL-10*12', 'TIRML-CL-13*16 KG', 'TIRML-CL-16*20',
       'TIRML-BL-KG-17*23', 'DHARAM-6PCS', 'Tirumala Kirana',
       'TAPER ROLL 3"100MTR', '10*12 SARAS-NAT', '10*10 TIGER',
       '10*12 SARAS-BK', '10*10 SIVA SHEET', 'LITEFOAM COLOUR(120',
       '10*10 Radha Krishna', 'PAPER TEA PRINTING', 'CYCLE-BK-13*16',
       'RUF&TUF -FORK', 'RUF-TUF BIG M.W', 'SILVER-11-HEAVY',
       'PRESSING COVER 4*5', 'TIFFIN PLATENO-11', 'Gold Leaf Sitting',
       'PAPER TEA', 'DURGA 13*16 BK', '13*16 Bk(100)KRISHN',
       'NIFTY PINK 13*16', 'SILVER TONE 13*16 W', 'PP 3.5*3.5', 'PP 3*3',
       'SPOON BIG CL', 'ROLLS 1/2 AND 1/2', 'DURGA 13*16 BLUE',
       'TAMBULAM 7*10', 'GANGA 10*12 100W', 'Cycle-10*12(100)-bl',
       '4*5 ANKITA', '5*6 MORE POLY', 'TIRML-BL-KG-13*16',
       'SILVER POUCH 6*8', '20*26 COVER', '24*30 COVER', 'SILVER PLATE 7',
       'TIRUMALA-50B(10*12)', 'BEER COVER', 'DHARAM 1KG SPECIAL',
       'VAMSI 13*16 WHITE', 'LARGE IC', '50gram Rubber', 'RUBBER 100G',
       'PAPER TEA-110ML', 'NO-5', 'TIFFIN PLATES-9"', 'Pp 10*12 +',
       'Pp 9*12 +', 'PRINTING PP 250GRAM', 'PRINTING COVER 100G',
       'PRINTING COVER-50GR', 'PRINTING PP 500GRAM',
       'TAPE ROLL 2" MTRS20', 'CITIZEN 13*16-M.W', 'CITIZEN 16*20M.W',
       'CITIZEN M.W 10*12', 'WATER GLASS', 'RUBBER', '100leaf',
       'Classic Colour', 'PP 5*6', 'Pp 6*7', '5*6 TRISUL',
       'KESHAV M.W 24*30', '20*26 MW KESHAV', '10*10 NILKAMAL',
       'PRESSING COVER-2*3', 'PRESSING COVER 3*4', 'PRESSING COVER 5*7',
       'TOOTH PICS', 'PINK PLATES 8"', 'PRINT 13*16', 'PRINT-16*20 CARRY',
       'PAPER TEA GOODWILL ', 'TAMBULAM 8*11', 'PP 4*4', 'Pp 4*6',
       'PP 5*5', 'HAND GLOVE 25PCS', 'TIRUMALA-50(17*23)', 'PP 7*9',
       'PP 4*5', 'PP 6*9 +', '4*6 1/2 KG PACKET', 'PIN BOX',
       'PINK PLATES -6"', 'HIGH COUNT 16*20 BL', 'TAPE ROLL 2"100METR',
       'TAPE ROLL 2" 50MTRS', 'PAPER JUICE 210ML', 'LD 6*7.5(HALF LITRE',
       'LD 6.5*10(LITRE)', 'PRESSING COVER 4*6', 'SCRUBBER',
       'HIGH COUNT 10*12 BL', 'HIGH COUNTING BLUE ', '12*12 Pgs',
       'DURGA 10*12 MW', 'DONA-100PCS(8200)', '6-GLACEFOAM(4200)',
       '4CB CLASSIFOM(1200)', 'SILVER COATED SPOON', 'DONA-COLOUR(8100)',
       'HAND GLOVES 100PCS-', 'CHEF CAP', 'Gold Leaf Sitting(1',
       'BEND STRAW', 'RUCHI 4*5', 'PP (+) 3.5*3.5', 'PP 2.5*2.5',
       'ZEND-1ST', '5*7 POLY 1/2KG PACK', '4*5 Poly',
       'GARBAGE BAGS-EXTRA ', 'GARBAGE BAGS-MEDIUM', '10*12 KRISHNA',
       'TAMBULAM 6*9', '9*12 STAR-DCUT', 'TAPE ROLL 3"',
       'PRIYA 10*12-BLUE KG', 'RADHE-BK-KG', 'Tirumala-bk-16*20kg',
       'SILV--250ML-LOOSE', 'TAPE ROLL 1/2 INCH', '10RS RUBBER SHEET',
       '10*12 Bk Krishna', 'Fork Med Crystal', 'ROLLS-PAPER KG',
       'SILVER TONE 10*12 B', 'Loose Kirana', 'SILV-CONT-250ML(200',
       'NR TEA', 'GARUDA 13*16 BLUE', '13*16 M.W', '10*12 M.W',
       'STRAW 1/4 PACKET', 'SILVER PLATE 9"', 'SILVER PLATE 8',
       'GANESH 16*20', 'VISHNU 300ML(90)', 'GARUDA 10*12 BLUE',
       'PP 20*26', 'SPOON MED M.W', 'SILVER FOIL ROLL', 'BUTTER PAPER',
       'PACKING COVERS', '14 5PLAY PLATES', '12*12 TIGER', '4CB LOOSE',
       '9*9 Pgs', 'DHARAM BOX-METRO', 'JUMBO 30*50 COVER',
       'TIRML-BL-KG-10*12', '17*23 KESHAV M.W', 'BASKIN SPOON',
       '13*16 50W-SANTOSH', 'PP+(6*8)', 'PP + 5*6', '5*6 FRESHGOLD',
       'SILVER POUCH 5*7', 'SWATHI-N(13*16)', 'ZEND-PREMIUM',
       'Dharam 1kg', 'CHANDRA TEA', 'CYCLE 16*20 BK-KG',
       'SAMSUNG 16*20 BLU', 'PAPER TEA GOODWILL', 'PP 3*4',
       'PRINT 13*16 CARRY', 'L.D', '24*36 LINER', 'SUPER ROPE',
       '5 RS RUBBER SHEET', 'STRAW 1.5KG BUNDLE', 'DONA-100PCS(80)',
       'PP +(10*14)', 'FORK BIG', 'RUBBER 1"', '5*5 DONA(4500)', '6*9 Hm',
       '10*12 Krazy', 'RUBBER 3"', 'CYCLE-13*16-50W', '750ML CONTAINER',
       'CHANDRA FANCY WINE', 'SPONZE', '5*5 DONA LOOSE', 'FRUIT FORK',
       '12"5 PLY PLATES', 'PRINTING PP 1KG', '150ML CLASSI-THERMO',
       'Pp 8*8 +', '9*12 100 PCS', '14*20 STAR-DCUT', '8*11 STAR-DCUT',
       'GANESH 10*12', 'NIFTY 10*12 -BLU', 'SILVER PLATES -10"',
       'THERMOCOLPLATES HEA', 'PRIYA 13*16-BLUE KG',
       'PRIYA 16*20-BLUE KG', 'TEAGLASS(80)', 'SILVER COVER 7*9',
       '5*6 Eswar 250grams', '3CB TRAY HIPS', 'FORK-MED',
       '100ML PLASTIC BOUL', '12*18 YELLOW D-CUT', 'Pp+(8*12)',
       'Pp +(9*11)', 'GANESH 13*16', 'Pp 4*5 +', 'APPLE HEXA GLASS',
       'Tiffin Plates-6', 'SILVER FOIL-72MTRS', 'JUMBO BIG SPOON',
       'MEDIUM BOUL LOOSE', 'BASKIN WHITE', 'Printing Pp', 'WATER 2.0',
       'SPOON BIG-N', '13*16 COLOUR KG', 'SILVER POUCH 4*6',
       'RUBBER 200GRAM', 'TIRUMALA TEA', 'PP +(6*7)',
       'PAPER TEA-75ML(100C', 'Pp +7*8', 'PP 8*9', 'PP 9*12', 'OWN ITEM',
       'PAL 9-METERS', 'TISSUE ROLLS', 'PRINTING NAPKEENS', '10*10 ROYAL',
       '9*9 TIGER', '4*5 RUCHI', 'PRINTING PP 2KG', 'SILVER-9 HEAVY',
       'ZEND-CLASSIC', 'DONA-FOMEX(84)', 'PRESSING COVER 5*6',
       'SILVER FOIL-1KG ROL', 'LIDS-750ML', 'PAPER JUICE 210M/C',
       'Pp 16*18', 'LD 5*7', '6" Loose', 'DOME LIDS', 'Paper Tea-100ml',
       'RUCHI 5*6', 'DHARAM-JAGADEESH', 'PAPER JUICE 250M/C',
       'FORK BIG CRYSTAL', 'STAND BOUL(1200)', 'SEVANA 8"',
       'SMARTBOUL-CLAS(40)', 'NON-WOVEN BAG 9*12 ', 'NON WOVEN BAG 10*12',
       'TAPEROLL 2"', 'SPOON SOOFY', 'SEVANA 12"', 'PAPER TEA -65ML',
       '5*8 POLY', '10*10 SHEET', 'PEPSI 2.0', '10*15 YELLOW DCUT',
       '14*20 SPECIAL D-CUT', 'GARBAGE BAG-SMALL', 'NAPKEENS 2ND-SPECIA',
       'GARUDA 10*12 BK', 'SWATHI-N(16*20)', 'SMARTBOUL GLA(4000)',
       'CYCLE-13*16(100)BLU', 'PINK PLATE-10"', 'STRECH FILM', 'PP 8*9+',
       'TAPE ROLL 1"', 'PEPSI 300ML', '13GREEN BUFFET', 'MINIBOUL',
       'PP 18*20', 'Pp 9*11', 'POLY 6*9', 'POLY 8*11',
       'NON WOVEN BAG D-CUT', '4CB GLACE(1500)', 'LARGE BOUL(42)',
       'FACE MASK', '13*16 BK-KG', 'SWATHI-N(17*23)',
       'SWEET BOX-500GRAMS', 'Tirumala-bk-17*23', 'GREEN 10*12 BK',
       '13*16 BLUE', '11*14 M.W', 'LEADER 8*11 M.W',
       'PRESSING COVER 8*10', '90leaf', '16*20 (50-W)', 'TAPE ROLL 2.5"',
       'SILVER-10 HEAVY', '16*20 (50 Bk)', '14*20 SP-DCUT',
       'PAPER JUICE 250ML', 'CYCLE-BK-16*20', 'ADVANCE 10*12 BLUE',
       'CITIZEN M.W-17*23', '10*12 BLUE KG', 'NON WOVEN BAG 13*16',
       'NON-WOVEN BAG 16*20', '10*12 BLUE', 'SPOON SMALL-N(90C)',
       'GARUDA 10*12 COLOUR', 'GARUDA 13*16 COLOUR', 'ASHA 10*12 BLU',
       'PAPER TEA 150ML', 'APPLE 300ML(90)', 'PAN BOX', '16*20 100-BK',
       'FOM-SPIRAL(143*50)', 'FOM-HEX(121*70)', 'PRESSING COVER 2.5*',
       'Pp 12*14 +', 'PP + 7*10', 'Pp +(5*7)', 'Tirumala-bk-13*16kg',
       'Pp 12*16 +', '4*5 MARIO', 'TAPEROLL', 'WINE GLASS',
       'WATER GLASS(300)', 'TIRUMALA M.W 17*20', 'PEPSI WATER',
       'DONA-1100', 'LIDS-450ML', 'HIGH COUNT 17*20', 'CHUNARI D-CUT',
       'PAPER TEA -100ML TA', '5*7 HM', '1200ML CONTAINER', 'PAPER LEAF',
       '10*10 SIVA SILKY', 'COLOUR GLASS', '6"ESSFOAM(3600)',
       'SURESH DHARALU', 'DHARAM', 'BIG M.W SP', 'ZEN-D CHEAP',
       '9"CLASSIFOAM(1500)', 'STRECH FILM-100MTRS', 'CLASSIC PLATES COLO',
       'SPOONS-BIG M.W', 'LIDS-250ML', '10*10 Saraswathi Sh',
       '20*26 LINER', 'GST AMOUNT', 'ROLLS GOLD', '90ML RANGOLI',
       'PP 10*12', 'DOT GLASS', 'ROLLS-PURE', 'ZEN-REALPACK',
       'RAJA BOUL(5250)', 'PP 4*6+', 'PINK PLATES 9"', 'Rangoli 13*16',
       'TIRUMALA PLATES-9', 'PP 8*7 +', 'LOCK COVER', 'STAPLER MACHINE',
       'Pressing Cover 6*8', 'Pp 7*7 +', 'FANCY WINE GLASS',
       'CHANDRA HEXA GLASS', 'TIFFIN PLATENO-10 S', 'TAMBOOLAM COVER',
       'DONA-50pcs-(8100)', 'ROLLS-KGS', 'STEP GLASS', '17*23 M.W 40MIC',
       '8*11 HM', '7*10 HM', '13*16 100 SAR-BK', 'PP 12*16', 'PP 6*6',
       '5*6 MORE(20MIC)', 'RUBBER 0"', '10*12 GREENPACK-BK',
       'KAVITHA GOLD 10*12', 'PP 16*20', 'CYCLE-13*16(100PCS)',
       '17*23(100)', 'DURGA 13*16 CL', 'PRINTING WATER GLAS',
       '13*16 100W', 'CITIZEN-BK-10*12', '24*20 M.W', 'DURGA 10*12 PINK',
       'PP 5*5+', 'SILVER COVER 5*7', '500ML CONTAINER M.W',
       'TIFFIN PLATES - 9 S', '13*16 BLUE(100)', 'ROPE-SUPER',
       '19*22 SPECIAL D-CUT', '10" Essfoam Loose', 'NAPKEENS-BOX PACKIN',
       '12" BIOFOAM(750)', '14 SPECIAL PLATES', 'GARBAGE BAGS-KGS',
       '80ML RANGOLI', 'SEVANA 10"', 'BAHUBALI WINE', '16*20 M.W 40MIC',
       'CLOTH SEAL COVER', 'PRINT 17*23', 'GARUDA 13*16 BK',
       'MILAN 4*5 POLY', 'MILAN 5*6 POLY', '5*6 Saroj Poly',
       'DHARAM-LALGUDA', 'STRECH FILM-30MTRS', 'HAND GLOVES-100PCS',
       'SUPER CLASSIC', '100ML HIPS', 'PLATES LOOSE', 'TIRUMALA PP',
       'Dharam 6pc Small', 'SILVER COVER LOOSE', 'ROBO 10*12 BK',
       'MILAN 4*6 POLY', '10*12 100bk', 'CLING FILM 600MTS',
       'PAPER JUICE 150ML', 'SOUP CUP', 'CYCLE-100(13*16)N',
       'DURGA 13*16 PINK', 'POLY 5*8 M.W', 'PP 7*12+', '6 CP TRAY HIPS',
       '10*12 RK-BK', '10*12 COLOUR KG', 'RANGOLI 16*20 KG',
       'SILVER POUCH 7*10', 'DHARAM-1/2 KG', 'DONA-COL(84)',
       '12*18 SPECIAL D-CUT', 'L.d Colour Kg', 'KRISHNA 10*12 RED',
       'STRAW 1.3KG BUNDLE', 'Cash', 'NAPKEENS 27*27', '10*12 100W',
       'TAPE ROLL 3"200 MTR', 'TOOTH PICS-;PLASTIC', 'EXCENT SP',
       'THERMOCOL GLASS', 'SILV CONT-(660)', 'CUP CAKES', '16*20 M.w',
       'KRISHNA 13*16 RED', 'NO-0 SP', '10*12 BK -KG'], dtype=object)